{# @var array user #}

{% extends 'layouts/main.twig' %}

{% block content %}
  <form method="POST" action="/auth/add">
    <div class="row">
      <div class="col-8">
        <div class="input-group mb-3">
          <div class="input-group-prepend"><span class="input-group-text" id="fio">Name</span></div>
          <input type="text" name="fio" class="form-control" placeholder="John Doe" aria-label="fio"
                 aria-describedby="fio" value="{{ user.fio }}">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <div class="input-group mb-3">
          <div class="input-group-prepend"><span class="input-group-text" id="login">Login</span></div>
          <input type="text" name="login" class="form-control" placeholder="login" aria-label="login"
                 aria-describedby="login" value="{{ user.login }}">
        </div>
      </div>
      <div class="col-4">
        <div class="input-group mb-3">
          <div class="input-group-prepend"><span class="input-group-text" id="password">Password</span></div>
          <input type="text" name="password" class="form-control" placeholder="password" aria-label="password"
                 aria-describedby="password">
        </div>
      </div>
    </div>
    {% if error is defined %}
    <div class="w-100 mb-3 text-danger">{{ error }}</div>
    {% endif %}
    <div class="row">
      <div class="col-3">
        <button type="submit" class="btn btn-info">Register</button>
      </div>
    </div>
  </form>
{% endblock %}

