
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <title>Photo gallery</title>
  <style>
    .cursor {
      cursor: default !important;
    }
  </style>
</head>
<body>


<div class="container">
  <div class="row justify-content-center">

    <h1 class="mt-4">Photo gallery</h1>
    <div class="w-100 m-2"></div>

    <!-- ИЗОБРАЖЕНИЕ -->
    <div class="col-8">
      {{IMG}}
    </div>

    <!-- ОПИСАНИЕ -->
    <div class="col-8 mt-2 d-flex flex-column">
      {{CARD}}
    </div>


  </div>
  <div class="w-100 mb-5"></div>
</div>
</body>
</html>
