<div class="badge badge-info">Admin</div>
<ul class="navbar-nav mr-auto">
  <li class="nav-item"><a class="nav-link my-n2" href="/user">Users</a></li>
  <li class="nav-item"><a class="nav-link my-n2" href="/product">Products</a></li>
  <li class="nav-item"><a class="nav-link my-n2" href="/product/add">Add Product</a></li>
  <li class="nav-item"><a class="nav-link my-n2" href="/order/all">All orders</a></li>
  <li class="d-flex mr-n5"><a class="nav-link my-n2" href="/cart">Cart
      <sup id="cartBadge" class="badge badge-secondary" v-text="cartCount"></sup></a>
  </li>
</ul>
