<ul class="navbar-nav mr-auto">
  <li class="nav-item"><a class="nav-link my-n2" href="/product">Catalog</a></li>
  <li class="d-flex mr-n5"><a class="nav-link my-n2" href="/cart">Cart
      <sup id="cartBadge" class="badge badge-secondary" v-text="cartCount"></sup></a>
  </li>
</ul>