{# @var string title #}
{# @var int cartCount #}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css" integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js"></script>
</head>
<body class="d-flex flex-column min-vh-100">

<div id="app">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/">Framework v3</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse"
              data-target="#navbar1" aria-controls="navbar1" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar1">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a class="nav-link my-n3" href="/user/">Users</a></li>
          <li class="nav-item"><a class="nav-link my-n3" href="/product/">Products</a></li>
          <li class="nav-item"><a class="nav-link my-n3" href="/product/add">Add Product</a></li>
          <li class="d-flex mr-n5">
            <a class="nav-link my-n3 " href="/cart">Cart
              <sup id="cartBadge" class="badge badge-secondary" v-text="cartCount"></sup></a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      {% block h1 %}
      <div class="col"><h1 class="h1 mt-5 mb-3">{{ title }}</h1></div>
      {% endblock %}
    </div>
    {% block content %}
    {% endblock %}
  </div>

</div>

<div class="wrapper flex-grow-1 mt-5"></div>
<footer class="navbar navbar-dark bg-dark">
  <div class="container">
    <span class="navbar-text">&copy; Ivanova Zoya, 2020</span>
  </div>
</footer>

{% block script %}
<script type="module" src="/js/vue.js" ></script>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
{% endblock %}
</body>
</html>
